@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --light-gray: hsl(0, 0%, 98%);
  --karla: "Karla", sans-serif;
  --dmserif: "DM Serif Display", serif;
}

body {
  font-family: var(--karla);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

nav .logo,
footer .logo {
  font-family: var(--dmserif);
  color: var(--very-dark-violet);
}

nav .containerFix,
.hero.containerFix {
  padding-left: 6rem;
  padding-right: 6rem;
}

nav .nav-link {
  color: var(--dark-grayish-violet);
}

nav .nav-link:hover {
  color: var(--very-dark-violet);
}

.nav_btn,
.hero_btn {
  background: var(--dark-violet);
  color: #fff;
  border: none;
  outline: none;
}

.hero_btn {
  background-color: white;
  color: var(--dark-violet);
}

.hero {
  background-color: var(--dark-violet);
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.hero .main_img {
  margin-top: 12rem;
}

.hero .pattern1 {
  position: absolute;
  left: 0;
  bottom: -260px;
}

.hero .pattern2 {
  position: absolute;
  right: 0;
  top: 0px;
}

.hero .line,
.different .line {
  width: 20%;
  height: 2px;
  background-color: var(--grayish-blue);
  margin-bottom: 4rem;
}

.different .line {
  margin-bottom: 2.8rem;
}

.different .heading_fix {
  font-family: var(--dmserif);
}

.hero .heading_fix {
  font-size: 60px;
  font-family: var(--dmserif);
}

.different {
  padding: 6rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.different p {
  width: 90%;
}

.details_card {
  height: 250px;
}

.details_card img {
  display: block;
  height: 70px;
  width: 70px;
  margin-bottom: 18px;
  height: max-content;
}

.details_card > span {
  font-family: var(--dmserif);
  margin-bottom: 10px;
}

.cta_container {
  padding: 6rem;
}

.cta {
  background-color: var(--dark-violet);
  color: white;
  padding: 4rem 5rem;
}

.cta h1 {
  font-family: var(--dmserif);
}

.footer_fix {
  background-color: var(--light-gray);
  height: max-content;
  padding-bottom: 6rem;
}

.footer_container {
  padding: 4rem 6rem;
}

.social_icon {
  margin-right: 10px;
  cursor: pointer;
  color: var(--dark-grayish-violet);
}

.social_icon:hover {
  color: var(--dark-violet);
}

.icons_logo {
  padding-bottom: 20px;

  border-bottom: 1px solid;
}

.footer_lists {
  padding-left: 6rem;
  padding-right: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer_lists li {
  list-style: none;
  margin-bottom: 6px;
  color: var(--dark-violet);
}

.footer_lists li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer_lists ul > span {
  margin-bottom: 18px;
  color: #808080;
}

@media (max-width: 960px) {
  nav .containerFix,
  .hero.containerFix {
    padding-left: 25px;
    padding-right: 25px;
  }
  .hero {
    height: 100vh;
    color: white;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
  }
  .pattern1,
  .pattern2 {
    display: none;
  }
}
